* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('f2c68f459a3022b3125f450ef165ce06.jpg') no-repeat center center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cd440e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.logo {
    font-size: 2em;
    color: #fff;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #1d9af9;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #1d9af9;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #1d9af9;
    margin: 30px;
    transition: all 0.3s ease; 
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #1d9af9;
    line-height: 57px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #3a7caf;
    font-weight: 600;
    border-bottom: 2px solid #1d9af9;
    transition: border-bottom 0.3s ease;
}

.input-box label {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 0.8em;
    color: #1d9af9;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -25px; 
    font-size: 0.7em;
    color: #0056b3;
}

.input-box input[type="email"] {
    border: 2px solid #1d9af9;
    border-radius: 5px;
}

.input-box input:focus[type="email"] ~ label,
.input-box input:valid[type="email"] ~ label {
    top: -25px;
    font-size: 0.7em;
    color: #0056b3;
}

.input-box input[type="password"] {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    border-bottom: 2px solid #0c40c3;
    transition: border-bottom 0.3s ease;
}

.input-box input[type="password"] ~ label {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 0.8em;
    color: #0c40c3;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-box input[type="password"]:focus ~ label,
.input-box input[type="password"]:valid ~ label {
    top: -25px;
    font-size: 0.7em;
    color: #0c40c3;
}

.input-box input[type="email"],
.input-box input[type="password"] {
    border: 2px solid #0c40c3;
    border-radius: 5px;
}

.input-box input[type="email"] ~ label {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 0.8em;
    color: #0c40c3;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-box input[type="email"]:focus ~ label,
.input-box input[type="email"]:valid ~ label {
    top: -25px;
    font-size: 0.7em;
    color: #0c40c3;
}

.input-box input[type="password"] ~ label {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 0.8em;
    color: #0c40c3;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-box input[type="password"]:focus ~ label,
.input-box input[type="password"]:valid ~ label {
    top: -25px;
    font-size: 0.7em;
    color: #0c40c3;
}

.reminder-forgot {
    font-size: 0.9rem;
    color: #09ed1c;
    font-weight: 500;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.reminder-forgot label input {
    color: #09ed1c;
    margin-right: 3px;
}

.reminder-forgot a {
    color: #09ed1c;
    text-decoration: none;
}

.reminder-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #0056b3;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #12a439;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #1e78d8;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}